<div style="height:35px;width:100%">
</div>

 <div class="list card">

  <a href="#" class="item item-icon-left">
    <i class="icon ion-home"></i>
    Lorem ipsum color
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-ios-telephone"></i>
    +ii 72066292
  </a>

</div>


<iframe style="padding:0px 6px" src="https://www.google.es/maps/place/Google+Inc,+12396+Grant+St,+Thornton,+CO+80241,+EE.+UU./@39.9223221,-104.9857086,17z/data=!4m5!3m4!1s0x876c744b1d353bb9:0x4b207f3c93dda571!8m2!3d39.9225178!4d-104.9836093" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>