<div style="height:50px;width:100%">
</div>


<div class="list card" style="margin-top:0px">

  <div class="item item-avatar">
    <img src="img/logoC.png">
    <h2>Pretty Hate Machine</h2>
    <p>Nine Inch Nails</p>
  </div>

  <div class="item item-image">
    <img src="img/company.jpg">
  </div>



</div>
<div class="card">
  <div class="item item-text-wrap">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    consectetur adipisicing elit, sed do eiusmod
  </div>
</div>

<div class="card">
  <div class="item item-text-wrap">
    This is a description text. Put here what ever you want.
  </div>
</div>
