<div style="height:50px;width:100%"></div>
<div class="list">

    <a class="item item-thumbnail-left" href="#">
      <img src="img/service1.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="img/service2.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="img/service3.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>

</div>
